<header>
    <div id="header_container">
        <div id="left_part"> <!--Contains the logo and "Favorites"  -->
            <img id="logo" src="/images/icon.png" alt="Geet icon">
            <span><a href="#">Favourites</a></span>
        </div>
        <div id="right_part" class="flex"> <!-- The search bar, Notifications icon and profile pic -->
            <div id="search_bar"> <!-- Custom search bar using CSS -->
                <i class="fas fa-search"></i>
                <input type="text" placeholder="Search">
            </div>
            <div id="notification-bell">  <!-- The notification bell icon and the notifications itself. position:relative. Goes away when clicked once, suggesting that the notifications have been "read" -->
                <i class="fas fa-bell"></i> <!-- The notifications icon -->
                <span id="notif">3</span> <!-- Number of notifications (the red dot), positioned absolute -->
                <div id="Notifications"> <!-- This section opens up when the notifications icon is clicked -->
                    <!-- After open this once, the background of this section changes, suggesting that the notifications have been read -->
                    <ul>
                        <div id="triangle-tip"></div> 
                        <li><span>Explore the hottest new singles of August right <a href="">here!</a> &#128525; </span>
                            <img src="/images/icon.png" alt=""></li>
                        <li><span>Interested in 'The Weeknd' and 'Eminem' &#128293;? Find out more about their most controversial &#129325; songs <a href="">here!</a></span><img src="/images/icon.png" alt=""></li>
                        <li><span>Welcome to Geet.com, Saksham! &#x2764; Become a member for unlimited song downloads for an year!</span><img src="/images/icon.png" alt=""></li>
                    </ul>
                </div>
            </div>
            <div>
            <img id="profilepic" src="/images/profile.jpg" alt="Profile Pic">
            </div>
        </div>
    </div>
</header>