<link rel="stylesheet" href="styles/home.css">
	<!-- The left #main part, including the carousel, top picks, top charts, etc -->
	<div id="main"> 
		<div id="carousel" class="flex"> <!-- The carousel -->
			<!-- The .board class styles all three boards, and the left, right and center-board classes are changed accordingly using JS, when the carousel is rotated -->
				<div class="board left-board">
					<img src="images/posters/diljit.jpg" alt="">
					<div class="show-up flex">
						<div class="play-button"><i class="fas fa-play playSong" data-songId="13"></i></div>
						<div class="name-author"><span>Putt Jatt Da</span>- Diljit Dosanjh</div>
						<div class="rightSide">2:46 
							<i class="fas fa-plus-circle addSong" data-songId="13"></i>
						</div>
					</div>
				</div>
				<div class="board right-board">
					<img src="images/posters/bohemia.jpg" alt="">
					<div class="show-up flex">
						<div class="play-button"><i class="fas fa-play playSong" data-songId="14"></i></div>
						<div class="name-author"><span>Zamana Jali</span>- Bohemia</div>
						<div class="rightSide">3:04
							 <i class="fas fa-plus-circle addSong" data-songId="14"></i>
						</div>
					</div>
				</div>
				<div class="board center-board">
					<img src="images/posters/badshah.jpg" alt="Badshah New song Paagal">
					<div class="show-up flex">
					 <!-- The .show up div is the menu that pops up when the CENTRAL BOARD is hovered on, which includes options to play and add the song to queue-->
						<div class="play-button"><i class="fas fa-play playSong" data-songId="12"></i></div>
						<div class="name-author"><span>Paagal</span>- Badshah</div>
						<div class="rightSide">3:04 
							<i class="fas fa-plus-circle addSong" data-songId="12"></i>
							<!-- any element with .addSong class holds an eventLister to add the song to the queue, and the song is identified by the data-songId attribute -->
						</div>
					</div>
				</div>
		</div>
		<div class="format1" id="top-picks"> <!--The format 1 and format 2 are reusable classes beacuse yaaaa. -->
			<h3 class="font-effect-anaglyph">Our Top Picks - for you</h3>
			<div class="flex">
				<!-- Again, this section is generated dynamically in dynamic.js -->
				<!-- The songs in this section are listed by their songIds in "topPicksArr" array in songs.js, You can try and change up that array to see how this works-->
				<!-- Sample of an iteration of song in this section: -->
				<!-- 
				<div> //Position:relative
					<div class="album-cover playable">
						<img src="images/thumbs/evolve.jpg" alt="Believer" class="playSong" data-songid="16">
						<i class="fas fa-play playSong" data-songid="16"></i>
					</div>
					<div class="name-auth font-effect-3d-float">
						<span>Believer</span><br>
						Imagine Dragons<br>
						3:22
					</div>
					<div class="rightSide"> //This is positioned absolute, thats why parent class was relative
						<div class="relative"> //position relative because its children will be positioned relative to this
							<i class="fas fa-ellipsis-v"></i> //The three dots. Open up a //menu on click (.tooltip)
							<div class="tooltip"> //The tooltip menu that opens up
								<div class="addSong" data-songid="16">
									Add to queue 
									<i class="fas fa-plus-circle"></i>
								</div>
								<div class="removeSong">
									Not interested //Removes the song iteration from top //picks...
									<i class="fas fa-times-circle"></i>
								</div>
							</div>
						</div>
					</div>
				</div> 
				-->
			</div>
		</div>
		<div class="format2" id="top-charts-hollywood">
			<h3 class="font-effect-anaglyph">Top charts - Bollywood</h3>
			<div>
				<!--songs in the "topChartsHollywood" array in songs.js -->
			</div>
		</div>
		<div class="format2" id="artists">
			<!-- This section is relatively incomplete, due to time constraints. The plan was to:
			a. Generate this section dynamically too, with each artist having it's artist id
			b. Clicking on the artist wouldve opened a another page with that artists song. That page would've been just an empty template, and clicking a certain artist would send it's artist-id to the next page, using which the next "Artist.html" page would've filled itself. But anyway later I guess. -->
			<h3 class="font-effect-anaglyph">Your Favorite Artists</h3>
			<div>
				<div class="thumb-image">
					<img src="images/artists/sidhu-moosewala.png">
					<div>
						<span>Sidhu Moosewala</span>
					</div>
				</div>
				<div class="thumb-image">
					<img src="images/artists/weeknd.jpg">
					<div>
						<span>The Weeknd</span>
					</div>
				</div>
				<div class="thumb-image">
					<img src="images/artists/imagine-dragons.jpg">
					<div>
						<span>Imagine Dragons</span>
					</div>
				</div><div class="thumb-image">
					<img src="images/artists/honey-singh.jpg">
					<div>
						<span>Honey Singh</span>
					</div>
				</div>
			</div>
		</div>
		<div class="format2" id="top-charts-bollywood">
			<h3 class="font-effect-anaglyph">Top charts - Bollywood</h3>
			<div>
				<!--songs in the "topChartsBollywood" array in songs.js -->
				<!-- Sample iteration of a song in format 2: -->
				<!-- 
				<div class="thumb-image playable">
					<img src="images/thumbs/pbx1.jpg" alt="Kaala Chashma - Skit" data-songid="25" class="playSong">
					<i class="fas fa-play playSong" data-songid="25"></i>
					<div> 			//The tooltip that pops down with the song Name and the 
						<span>Kaala Chashma - Skit</span>			//artist
						-Sidhu Moosewala
					</div>
				</div> 
				-->
			</div>
		</div>
		<div class="format1" id="geet-specials">
			<h3 class="font-effect-anaglyph">Geet Specials</h3>
			<div class="flex">
				<!--songs in the "geetSpecialsArr" array in songs.js -->
			</div>
		</div>
	</div>