@media only screen and (max-width: 810px){
	#right_part{
		width:55%;
	}
	#left_part{
		width:30%;
	}
	header img{
	left:7%;
	height:60px;
	}
	header div span{
		left:15%;
	}
	#main{
		width:100%;
		margin-top:25px;
		}
	.format1 .flex>div{
		width:100%;
		margin:5px 0;
	}
	/*-------------Queue--------*/
	aside{
	width:100%;
	padding-left:0px;
	position:relative;
	}
	.fa-list{
		right:30px;
	}
	#heading{
	cursor: pointer;
	}
	#queue{
		height:0;
		overflow: hidden;
	}
	.show-queue{
		height:auto!important;
		transition:3s all;
	}
	/*-----------FOOTER------*/
	footer{
		width:100%;
		left:0;
	}
	.name-singer{
		width:45%;
	}
}