*{
	margin:0;
	padding:0;
}
body{
	background:var(--dark-bg-1);
}
.flex{
	display: flex;
	flex-wrap:wrap;
}
.relative{
	position:relative;
}
main {
	flex-direction:row-reverse;
	margin-top: 30px;
	width:92%;
	margin-left: 4%;
	margin-right: 4%;
	flex-spacing:space-between;
	margin-bottom: 60px; 
}
#main{
	width:72%;
}
#main>div{
	max-width:100%;
	margin:10px 0;
}
#main div h3{
	color:white;
	font-family: "Rubik", sans-serif;
	margin:20px 0 6px 20px;
}
@media only screen and (max-width: 810px){
    #main{
        width:100%;
        margin-top:25px;
	}
}
