*{
	margin:0;
	padding:0;
}
body{
	background:var(--dark-bg-1);
}
.flex{
	display: flex;
	flex-wrap:wrap;
}
.relative{
	position:relative;
}
main {
	flex-direction:row-reverse;
	margin-top: 30px;
	width:92%;
	margin-left: 4%;
	margin-right: 4%;
	flex-spacing:space-between;
	margin-bottom: 60px; 
}